<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>İletişim</h1>
    </header>
    <div class="container">
        <nav>
            <a href="/">Ana Sayfa</a>
            <a href="/ligler">Ligler</a>
            <a href="/canlımaclar">Canlı Maçlar ve Takımlar </a>
            <a href="/yasalbahis">Yasal Bahis</a>
            <a href="/discord">İletişim</a>

        </nav>
    <div class="container">
        <h1>Discord</h1>
        <h2>Discord sunucumuza katılmak için aşağıdaki bağlantıya tıklayın:</h2>
        <a href="https://discord.gg/8N9ZtqhsXj">Discord Sunucusu</a>
        <p>Discord sunucumuzda güncel bilgiler, maç analizleri ve daha fazlasını bulabilirsiniz.</p>
        <p>Topunpeşinde topluluğuna katılın ve diğer spor severlerle etkileşimde bulunun.</p>
        <p>Hayalimdeki projeyi sizlerle buluşturdum ve Türkiyede tanınmak istiyorum.</p>
        <a href="https://linktr.ee/arasbartu">Hakkımda</a>
    </div>
    <footer>
        <h6>&copy; 2025 Topunpeşinde.com.tr</h6>
    </footer>
</body>
</html>