<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="static/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futbol Sitesi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Futbol Dünyası</h1>
    </header>
    <nav>
        <a href="/">Ana Sayfa</a>
        <a href="/ligler">Ligler</a>
        <a href="/canlımaclar">Canlı Maçlar ve Takımlar</a>
        <a href="/yasalbahis">Yasal Bahis</a>
        <a href="/discord">İletişim</a>
    </nav>
    <div class="container">
        <h1>by.Arasbt</h1>
        <a href="https://anm.cx">Dünyanın en iyi anime izleme sitesi</a>
        <h2>Hoş Geldiniz!</h2>
        <p>Burada futbol ile ilgili en güncel bilgileri bulabilirsiniz.</p>
        <p>Dünyanın en iyi sportif web sitesi.</p>
        <h1>Futbolun heyecanı burada!</h1>
        <p>📢Aras Bartu tarafından geliştirilen bu platform, futbol tutkunlarına özel olarak hazırlanmıştır.</p>
        <p>Canlı maçlar, takım bilgileri, lig tabloları ve daha fazlasını anında görüntüleyebilirsiniz!</p>
        <p>API entegrasyonu sayesinde en güncel futbol verilerine erişebilir, maçların detaylarını takip edebilirsiniz.</p>
        <p>Takımların performanslarını inceleyin, lig sıralamalarını keşfedin ve futbol dünyasına dair her şeyi burada bulun. Hızlı, dinamik ve futbol dolu bir deneyim yaşamak için keşfetmeye başlayın!</p>

    </div>

    <footer>
        <h6>&copy; 2025 Topunpeşinde.com.tr</h6>
    </footer>
</body>
</html>

