<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasal Bahis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Yasal Bahis</h1>
    </header>
    <div class="container">
        <nav>
            <a href="/">Ana Sayfa</a>
            <a href="/ligler">Ligler</a>
            <a href="/takımlar">Takımlar</a>
            <a href="/canlımaclar">Canlı Maçlar ve Takımar</a>
            <a href="/yasalbahis">Yasal Bahis</a>
            <a href="/discord">İletişim</a>

        </nav>
    <div class="container">
        <h1>Yasal Bahis</h1>
        <h2>iddia.com kendi sitesini api olarak bulamadım bu yüzden linke tıklayın unutmayın bahis kumardır bağımlık yapar ve bu konuda hiçbir sorumluluk sahibi değilim.</h2>
        <a href="https://www.iddaa.com">YASAL BAHİS</a>
        <p>Bu sitede yasal bahis bilgileri bulunmamakktadır. Bahis yapmadan önce lütfen yasal düzenlemeleri kontrol edin.</p>
        <p>Bu kazancınızdan veya kaybeşinizden sorumluluk sahibi değilim.Koyduğum site yasal bahistir.</p>
        <p>Bahis yaparken dikkatli olun ve sorumlu bir şekilde oynayın.</p>
        <p>Bahis yaparken yaş sınırına dikkat edin ve sadece yasal bahis sitelerini kullanın.</p>
        <p>Unutmayın, bahis eğlenceli olabilir ama kaybetme riski her zaman vardır.</p>
    </div>
    <footer>
        <h6>&copy; 2025 Topunpeşinde.com.tr</h6>
    </footer>
</body>
</html>